.new-task {
	position: relative;

	&__form {
		width: 383px;
		font-size: 24px;
		font-family: inherit;
		font-weight: inherit;
		line-height: 1.4em;
		color: inherit;
		padding: 16px 16px 16px 60px;
		box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.2);
		box-sizing: border-box;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		border: none;

		&::placeholder {
			font-style: italic;
		};

	};
};
.new-task__timer {
	font-size: 24px;
	position: absolute;
	height: 66px;
	width: 85px;
	padding: 16px 0px 16px 16px;
	border: none;
	box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.2);
		box-sizing: border-box;
};

.timer-min {
	right: 83px;
};

.timer-sec {
	right: 0px;
};