.task-filter {
  display: flex;
  padding: 0;

  &__item {
    display: inline;
	  cursor: default;
  }

  &__button {
    display: inline-block;
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid silver;
    border-radius: 3px;

    &:not(.active) {
      cursor: pointer;
      border: none;
    }
  }
}

